@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.navegation{
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 280px;
    width: 5%;
    box-shadow: 10px 0px 25px rgba(0, 0, 0, 0.116);
    position: fixed;
}

.nome-site{
    padding: 40px 40px 40px;
    font-size: 1.5rem;
    border-bottom: solid 1px #ccc;
    display: flex;
    justify-content: left;
    align-items: center;
    
}

.nav-elementos{

    height: 100%;
    
}

.nav-elementos li{
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;

    margin-bottom: solid 1px #b9b9b9;
    padding: 40px 40px 40px;

}

.icone-i{
    height: 40px;

}

i{
    pointer-events: none;
}

.nav-elementos a{
 text-decoration: none;
 color: #333;
 display: flex;
 justify-content: left;
 align-items: center;
}

.nome-site .nome-logo{
    display: flex;
    align-items: center;
}


.nav-elementos a h3, .nome-logo h3{
margin-left: 1.5rem;
font-size: 1.3rem;

}

.nome-logo{
    display: flex;
    color: #333;
    text-decoration: none;
}

#tarefas{
    user-select: none;
}

/* ============== top ============== */



.interface{
    width: 100%;
    display: flex;
    justify-content: right;
}


.top{
 
    height: 123px;
    width: calc(100% - 280px);
    z-index: 4;
}

.top header, .pagina, .date, .elementos-left{
    display: flex;
    align-items: center;
}

.top header{
    padding: 40px 40px 40px;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #ccc;
}

.elementos-left{
    justify-content:space-between;
    width: 56%;
}

.elementos-left h4{
    font-size: 1.3rem;
    margin-right: 1.5rem;
    color: #333;
}

.btn-contato{
    padding: 9px;
    width: 100px;
    border-radius: 10px;
    background-color: rgb(27, 202, 255);
    border: none;
    scale: 1.2;
    font-weight: 400;
    color: white;
}

/* =============== grid =============== */

.flex{
    padding: 40px 40px;
    height: 100vh;
    width: calc(100% - 280px);
}

.flex .columns{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.columns .column{
    background-color: #f4f5f7;
    height: 92vh;
    flex: 1;
    border-radius: 20px;
   
}

.top-column{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 40px;
}

.top-column button{
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #adadad50;
    box-shadow: 0px 0px 5px 2px rgba(189, 189, 189, 0.726);
}

.top-column svg{
    border: none;
    color: white;
    pointer-events: none;
}

.column-title{
    
    font-size: 20px;
    font-weight: 700;
    color: #4d5c76;
    
}

.conteudo-card{
    font-size: 1.1rem;
    font-weight: 700;
    color: #404c63;
    padding: 10px;
    pointer-events: none;/*lembrar disso*/
    line-height: 22px;

    
}

.column-cards{

display: flex;
flex-direction: column;
justify-content: center;
gap: 15px;

}

.card1{
    margin: 0 auto;
    min-height: 100px;
    border-radius: 10px;
    width: 95%;
    background-color: white;
    box-shadow: -3px 5px 10px 1px rgba(0, 0, 0, 0.24);
    position: relative;
    transition:all ease .3s;
}

.concluido{
    background-color: #0a8b06ad;
    transition: all ease .3s;
}

.concluido .conteudo-card{
    color: rgba(255, 255, 255, 0.986);
    font-weight: 500;
    font-style: italic;
    text-decoration: line-through;
}

.button-todo{
    position: absolute;/*absolute pode usar right top.....*/
    right: 8px;
    width: 90px;
    bottom: 5px;
    display: flex;
    justify-content: right;
   
}

.btn-todo{
    width: 30px;
    height: 30px;
    border-radius: 50%;

}

.red{
    border: none;
    background-color: rgb(206, 54, 54);
}

.yellow{
    border: none;
    background-color: rgb(230, 214, 0);
}

.gren{
    border: none;
    background-color: green;
}


.hidden .gren, .hidden .yellow, .hidden .red{
transform: translateX(2rem);
opacity: 0;
}

.editar-coluna{
    margin-bottom: 2.5rem;
}

.btn{
    width: 100px;
}